body{
	background-color:black;
}



.row1{
    height: 28px;
    width: 100%;
    background-color:#0E0E15;
    
   
}

.row2{
    height: 72px;
    width: 1200px;
    background-color:#0E0E15;
}



.col1{
	
    height: 72px;
    width: 72px;
    margin-left:80px;
    margin-right:16px;
    float:left;
    background-color:#0E0E15;
}


.col2{
	
    height: 72px;
    width: 103px;
    margin-left:10px;
    float:left;
    color:white;
    line-height: 68px;
    font-size: 20px;
    background-color:#0E0E15;
}





.col3{
	
    height: 30px;
    width: 94px;
    margin-left:707px;
    float:left;
    font-size:20px;
    line-height:311%;
    color:white;
    background-color:#0E0E15;
}

.col4{
	
    height: 30px;
    width: 94px;
    margin-left:16px;
    float:left;
    font-size:18px;
    line-height:357%;
    color:white;
}

.row3{
	border-bottom: solid 1px red;
    height: 28px;
    width: 100%;
  } 
  
  
  
  .row5{
    width: 100%;
	height: 31px;
}



.row5_col1{
	
    width: 56px;
    height: 29px;
    color: white;
    margin-left:150px;
    margin-top: 6px;
    font-size: 22px;
	
}


.row6{
	
	border-bottom: solid 1px red;
	width: 960px;
	height: 277px;
	margin:auto;
	margin-bottom:10px;
	
}

.Movie_imge{   
		
		width: 200px;
		height: 252px;
		float:left;
		margin-right:15px;
}

.row6_col7{
	  
		
		width: 495px;
		height: 252px;
		float:left;
}

.Mvovie_Name{
	  
		
		width: 495px;
		height: 72px;
		color:white;
		font-size: 10px;
		
}





.Discription{
	  
		
		width: 495px;
		height: 70px;
		color:white;
		font-size: 10px;
}


.action{
	  
		
		width: 495px;
		height: 40px;
		margin-top: 64px;
		
}


.Like{
		
		width: 32px;
		height: 32px;
		float:left;
		margin-right:6px;

}




.Rating{
	border: solid 1px blue;
    width: 24px;
    height: 24px;
    float: left;
    margin-top: 4px;
    text-align: center;
    font-size: 20px;
}



.Dislike{
		
		width: 32px;
		height: 32px;
		float:left;
		margin-left:6px;


}



.Add_movie{
		border: solid 1px blue;
		width: 100%;
		height: 80px;	
		margin-left:6px;
}


.Add_movie2{
		border: solid 1px blue;
		width: 156px;
		height: 30px;
		margin-left:150px;
		
}




.Add_movie3{
		border: solid 1px blue;
		width: 658px;
		height: 16px;
		margin-left:150px;
		
}


.box_form{
	border: solid 1px blue;
	width: 960px;
	height: 1247px;
	margin-left:160px;
	margin-top:20px;
}

.Del{
	border: solid 1px blue;
	width: 40px;
	height: 40px;
	float:right;
}
.Add{
	border: solid 1px blue;
	width: 100%;
	height: 80px;
	float:right;
}

.Add_1{
	border: solid 1px blue;
	width: 156px;
	height: 32px;
	margin-left:145px;
	margin-top:92px;
	color:white;
	font-size:18px
}

.Add_2{
	border: solid 1px blue;
	width: 100%;
	height: 30px;
	float:right;
	color:white;
	font-size:15px;
}

.Add_col3{
	border: solid 1px blue;
	width: 50%;
	height: 30px;
	margin-left:145px;
	
}



.new_movie{
	border: solid 1px blue;
    width: 197px;
    height: 52px;
    margin-left: 145px;
    margin-top: 64px;
    background-color:#F85146;
	
}



.plus{
	border: solid 1px blue;
    width: 40px;
    height: 40px;
    float: left;
    margin: 6px 2px 5px 0px;
    font-size: 41px;
    line-height: 93%;
    color: white;


}



.new{
	border: solid 1px blue;
    width: 96px;
    height: 25px;
    float: left;
    font-size: 18px;
    line-height: 100%;
    margin: 13px 30px 8px 16px;
    color: white;

}



.Add_3{
	border: solid 1px blue;
    width: 100%;
    height: 162px;   
}


.navgurukul{
	border: solid 1px blue;
    width: 100%;
    height: 162px;
    
    
}

.navgurukul1{
	border: solid 1px blue;
    width: 130px;
    height: 34px;
    float:left;
   	margin: 95px 0px 0px 150px;
}



.navgurukul2{
	border: solid 1px blue;
    width: 208px;
    height: 34px;
    float:left;
    color:white;
    margin: 95px 0px 0px 0px;
    font-size: 20px;
    line-height: 33px;
}

